.venv/*
.idea/*
__pycache__/
Lib/*
Scripts/*
pyvenv.cfg
.streamlit/secrets.toml
etc/*
share/*
.DS_Store
*/.DS_Store
.vscode/*
twelve_chat.bat
.env
user_info.json
.streamlit/secrets.toml
clustering.ipynb
/data
CB-Pairing AI Analyst - Notebooks\CB_Ground_Duels_Quality+Metrics_Sandbox.ipynb
CB-Pairing AI Analyst - Notebooks\CB_Aerial_Duels_Qualities+Metrics_Sandbox.ipynb
classes\visual_Sandbox.py
pages\cb_pairing_analyst_Sandbox.py
CB-Pairing AI Analyst - Notebooks\kernel_smoke_test.ipynb
tmp/*
debug.log